//  ******************** All variable here ***********************
$font-arimo: "Arimo", sans-serif;

$p-color-one: #444444;
$p-color-two: #666666;
$p-color-three: #ffffff;

$h2-color: #222222;
$h3-color: #2d3e50;
$h4-color: #444444;
$h-white: #ffffff;
